.App {
    /* text-align: center; */
    /* cursor: url("./imgs/cursor.svg"), auto ; */
    background-image:url("./imgs/shully1.png"), url("./imgs/autossing.jpg"),url("./imgs/cloude.svg");
    background-position : 100% 30%, 100% 100%;
    background-size : auto 200px;
    background-position: bottom , right 0px, 110% 150px;
    background-repeat: repeat-x, no-repeat,no-repeat;

}