

.App {
    /* text-align: center; */
    /* cursor: url("./imgs/cursor.svg"), auto ; */
    border-color: #9cd8d8;
    position: relative;
    height: 100vh;
    overflow-y: auto;
    background-image: 
        url("./imgs/shully1.png");
        /* , url("./imgs/cloude.svg"); */
    background-position: bottom, 110% 150px;
    background-size: auto 200px, auto 300px;
    background-repeat: repeat-x, no-repeat;
    background-attachment: fixed, fixed;
    /* background-image: url("./imgs/cloude.jpg"); */
}

.Wraapper {
    display: grid;
    gap:50px;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    padding: 50px 0px;
    width:100%;
    max-width: 860px;
}

.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.MenuItem {
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(191, 169, 88, 0.5);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    svg{
        width: 30px;
        fill: aquamarine;
    }
    &.log-out{
        border-color: brown;
        svg{
            fill: brown;
        }
    }
}

/* postForm */
.Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TextArea {
    border: 2px solid rgba(231, 204, 107, 0.5);
    padding: 20px;
    border-radius: 20px;
    font-size: 16px;
    color: rgb(245, 245, 245);
    background-color:rgba(67, 221, 216, 0);
    width: 100%;
    resize:none;
    &::placeholder{
        font-size: 1;
        font-family:Arial, Helvetica, sans-serif;
    }
    &:focus {
        outline: none;
        border-color:rgb(191, 169, 88);
    }
}

.AttachFileButton {
    padding: 10px 0px;
    color: rgb(157, 217, 217);
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(157, 217, 217);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.SubmitBtn{
    background-color: #1d9bf0;
    color: white;
    border: none;
    padding: 10px 0px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    &:hover,
    &:active{
        opacity: 0.9;
    }
}
/* ShullysForm */
.homeWrapper {
    display: grid;
    gap: 50px;
    overflow-y:visible ;
    grid-template-rows: 1fr 5fr ;
}

.ShullyPayload {
    margin: 10px 0px;
    font-size: 18px;
}

.Photo {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    object-fit:;
}
.ShullyWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px ;
    align-self: start;
    justify-content: space-between; 
    border :1px solid rgb(127, 217, 207, 0.5); 
    border-radius: 15px;
    background-color:rgba(244, 249, 253, 0.805);
}

.ShullyColumn {
    display: grid;
    gap: 50px;
    overflow-y: scroll;
    background: linear-gradient(180deg, rgba(201, 180, 188, 0.1) 0%, rgba(201, 180, 188, 0.2) 20%);
    align-items:baseline; /* 수직 정렬 */
    justify-items:last baseline; /* 수평 정렬 */
}

.ShullyUsername {
    font-weight: 600px;
    font-size: 15px;
    font-style: italic;
    color: hsl(248, 69%, 15%);
} 
.no-data-message {
    font-size: 18px;
    color: rgb(240, 149, 139);
    text-align: center;
    margin-top: 20px;
    background-color: rgba(255, 235, 205, 0.3);
    padding: 10px;
    border :2px solid rgb(240, 149, 139); 
    border-radius: 8px;
  }
  .DeleteButton {
    font-size: 10px;
    font-weight: 600;
    color: rgb(240, 149, 139);
    text-transform:uppercase;
    background-color: rgba(255, 235, 205, 0.3);
    padding: 5px 10px;
    border :2px solid rgb(240, 149, 139); 
    border-radius: 5px;
  }